service: aws-nodejs
provider:
  name: aws
  runtime: nodejs10.x
functions:
  stripeManager:
    handler: handler.lexbcOrder
    environment:
      STORE_HASH: qr7vc8lai3
      BC_CLIENT: tdnngiw0zcki95absltyl7tki4pbge4
      BC_TOKEN: hn3whpt4alz4s32zcr0dsyvizaz029h
    events:
      - http:
          path: lexbcOrder
          method: post
          cors: true
